<ion-view title="AgriPrice">
	<ion-content >
		<div id="homeScreen">
			<div class="row">
				<div class="col-md-12" >
					<img class="fade-in about_logo" src="img/ic_launcher.png" class="about_logo">
					<h1>AgriPrice</h1>
					<p>
						Get notifications for agricultural commodity prices within Trinidad and Tobago. The AgriPrice application provides an interactive way of allow users to better understand how price for each commodity changes with time. Rather than burden users with constantly checking for price changes, the AgriPrice app will notify users when prices for the selected crops change.
					</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12" >
					<img class="fade-in about_logo" src="img/logo_agrinet.png">
					<h1>AgriNeTT</h1>
					<p>
						The AgriNeTT project is geared toward research and development on intelligent decision support systems for enhancing crop management. AgriNeTT intends to build ICT applications around agricultural data to support its various stakeholders within Trinidad and Tobago and the wider Caribbean.
					</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12" >
					<img class="fade-in about_logo" src="img/uwi.gif">
					<h1>University of the West Indies</h1>
					<p>
						AgriNeTT is an Agriculture ICT project of the St. Augustine campus of The University of the West Indies. It is funded by the UWI-Trinidad & Tobago Research and Development Impact (RDI) Fund. The  AgriNeTT team is multi-disciplinary, consisting of academics from the Department of Computing & Information Technology and the Faculty of Food and Agriculture at UWI as well as persons from industry in the agriculture sector.
					</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12" >
					<img class="fade-in about_logo" src="img/namdevco.jpg">
					<h1>NAMDEVCO</h1>
					<p>
						The National Agricultural Marketing and Development Corporation (NAMDEVCO) is a Statutory body created by Act of Parliament No. 16 of 1991 with a mandate “to create, facilitate and maintain an environment conducive to the efficient marketing of agricultural produce and food products through the provision of marketing services and the stimulation of business investment in the agro-industrial sector of Trinidad and Tobago
						<br><br>
						<b>All prices are supplied through the NAMIS system of NAMDEVCO.</b>
					</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>