<ion-view title="Latest Prices">
    <a href="#/app/notifications">
        <div id="bottom-bar">
            Manage Notifications  
        </div>
    </a>
	<ion-content padding="true">
		<div class="list" ng-init="logmein()">

			<label class="item item-input item-select">
			  <div class="input-label">
			    Date
			  </div>
			  <select ng-init="selDate = dates[0]" ng-model="selDate" ng-options="date for date in dates" ng-change="changeDate(selDate)" >
			  </select>
		</label>
        </div>
	  <ion-list>
        <div id="crop-list">
            <div ng-repeat="crop in dailycrops | orderBy: 'commodity'">
                <ion-item class="item item-avatar" ng-click="toggleCrop(crop)" ng-class="{active: isCropShown(crop)}" href="#//">
                     <!--<i class="icon" ng-class="isCropShown(crop) "></i>
                    &nbsp;-->
                    <img  id="cAvatar" src="img/fruits/{{crop.commodity}}.jpg">
                    <!--<img  id="cAvatar" src="img/fruits/{{crop.commodity}}.jpg"> -->
                    <h2>{{crop.commodity | capitalize}}</h2>
                    <p>{{crop.price}} per {{crop.unit}}</p>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isCropShown(crop)">
                    <div class="value"><span class="dim">Projected Price</span>: <span class="val">{{projected}}</span></div>
                    <div class="value"><span class="dim">Category</span>: <span class="val">{{crop.category | lowercase}}</span></div>
                    <div class="value"><span class="dim">Date</span>: <span class="val">{{crop.date | capitalize}}</span></div>
                    <div class="value"><span class="dim">Volume</span>: <span class="val">{{crop.volume | lowercase}} {{crop.unit}}</span></div>
                </ion-item>
            </div>
            </div>
      </ion-list>
	</ion-content>
</ion-view>