<ion-view title="AgriPrice - {{crop.commodity | capitalize}}">
	<ion-content padding="true">
		<div id="infoCard" class="list card">
			<div class="item item-image">
			    <img id="cpviewAvatar" src="img/fruits/{{crop.commodity}}.jpg" />
			  </div>

			<div class="item item-avatar">
				<div class="value"><span class="dim">
					Commodity</span>: 
					<span class="val">{{crop.commodity | capitalize}} TTD</span>
				</div>
				<div class="value"><span class="dim">
					Current Price</span>: 
					<span class="val">{{crop.price | currency}} TTD</span>
				</div>
				<div class="value"><span class="dim">
					Category</span>: 
					<span class="val">{{crop.category | capitalize}}</span>
				</div>
				<div class="value">
					<span class="dim">Date</span>: 
					<span class="val">{{crop.date | capitalize}}</span>
				</div>
				<div class="value">
					<span class="dim">Volume Sold ( {{crop.unit}} )</span>:  
					<span class="val">{{crop.volume }}</span>
				</div>
				<!--<div class="value"><span class="dim">Projected Price</span>: <span class="val">{{projected}} TTD</span></div>-->
			</div>
			<div id="cropViewControls" class="item">
				<div class="row">
					<div class="col">
						<button class="button icon-left ion-arrow-graph-up-right" disabled="true">
							Projected Price
						</button>
					</div>
					<div class="col">
						<a ng-href="#/app/visualize/{{crop.commodity}}" class="button icon-left ion-pie-graph">
							Historical Trends
						</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>