<ion-view title="Market Watcher" hide-nav-bar="true" id="login-page">
	<ion-content padding="true">
		<div id="homeScreen">
			<!-- Logo -->
			<div id="logoSec" class="row">
				<div class="col">
					
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12" >
                    <img class="fade-in logo" src="img/ic_launcher.png">
					<h1>Market Watcher</h1>
				</div>
			</div>

			
			<div class="row" id="btm-area">
				<div class="col-md-12" >
                    <p>
                        Get notifications for crop prices within Trinidad and Tobago
					</p>
                    <button ng-click="googleLogin()" class="button button-assertive" id="gpbtn">Sign in with Google</button>
                    <button ng-click="noLogin()" class="button button-active" id="gpbtn">Continue to app</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>