<div class="parent">
  <md-spinner *ngIf="crops.length == 0" class="mySpinner" mode="indeterminate"></md-spinner>


	<md-list>
		<md-list-item class="agriprice_list_item" *ngFor="let crop of crops">
			<img md-list-avatar [src]="crop.img_url" alt="Crop Icon">
			<h3 md-line>{{ crop.commodity | uppercase }}</h3>
			<p md-line>
				<span class="list_price">Price : {{ crop.price | currency:'TTD':true:'1.2-2'}} </span>
			</p>
			<hr>
		</md-list-item>
		<md-divider></md-divider>
	</md-list>

</div>
