<div class="parent">
  <md-spinner *ngIf="crops.length == 0" class="mySpinner" mode="indeterminate"></md-spinner>


	<md-list>
		<md-list-item class="agriprice_list_item" *ngFor="let crop of crops; let i = index">
			<img md-list-avatar src="../assets/images/fruits/{{ crop.commodity }}.jpg" alt="Crop Icon">
			<h3 md-line>{{ crop.commodity | uppercase }}</h3>
			<p md-line>
				<span>Price : {{ crop.price | currency:'TTD':true:'1.2-2'}} </span>
				<span class="demo-2"></span>
			</p>
			<md-divider></md-divider>
		</md-list-item>

	</md-list>

</div>
