<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.apache.cordova.core.ParsePlugin" version="0.2.0">
    <name>ParsePlugin</name>
    <description>Phonegap/Cordova plugin for Parse.com push notification</description>

    <js-module src="www/cdv-plugin-parse.js" name="ParsePlugin">
        <clobbers target="window.parsePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ParsePlugin">
                <param name="android-package" value="org.apache.cordova.core.ParsePlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <service android:name="com.parse.PushService" />
          <receiver android:name="com.parse.GcmBroadcastReceiver"
              android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
              <category android:name="$PACKAGE_NAME" />
            </intent-filter>
          </receiver>
		  <receiver android:exported="false" android:name="org.apache.cordova.core.ParsePluginReceiver">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
          </receiver>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.WAKE_LOCK" />
          <uses-permission android:name="android.permission.VIBRATE" />
          <uses-permission android:name="android.permission.GET_ACCOUNTS" />
          <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
          <permission android:protectionLevel="signature" android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
          <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
        </config-file>

        <source-file src="src/android/parse/Parse-1.8.2.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/parse/bolts-android-1.1.4.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/parse/ParseCrashReporting-1.8.2.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/ParsePlugin.java" target-dir="src/org/apache/cordova/core" />
        <source-file src="src/android/ParsePluginReceiver.java" target-dir="src/org/apache/cordova/core" />      
     </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ParsePlugin">
                <param name="ios-package" value="CDVParsePlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVParsePlugin.h" />
        <source-file src="src/ios/CDVParsePlugin.m" />

        <!--<framework src="AssetsLibrary.framework" />-->
        <!--<framework src="MobileCoreServices.framework" />-->
        <framework src="Accounts.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.dylib" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="Social.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="src/ios/Frameworks/Parse.framework" custom="true" />
        <framework src="src/ios/Frameworks/ParseUI.framework" custom="true" />
        <framework src="src/ios/Frameworks/Bolts.framework" custom="true" />

    </platform>
	<!-- window phone 8 -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
			<feature name="ParsePlugin">
				<param name="wp-package" value="ParsePlugin" />
			</feature>
        </config-file>
		<config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
			<Capability Name="ID_CAP_NETWORKING" />
			<Capability Name="ID_CAP_PUSH_NOTIFICATION" />
		</config-file>		
		<framework src="src/wp8/lib/Parse.Phone.dll" custom="true" />
		<framework src="src/wp8/lib/Parse.dll" custom="true" />
		<source-file src="src/wp8/ParsePlugin.cs"/>
	</platform>
</plugin>
