/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.spacer{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.myCard{
  margin-top: 5px;
}

body {
  margin: 0;
  padding: 0;
}

.agriprice_pg_header {
  text-align: center;
}

.agriprice_pg_header_icon {
  font-size: 60px;
}

.agriprice_pg_content {
  margin: 2px 10px;
}