#homeScreen {
  text-align: center;
  width: 75%;
  margin: 0 auto; 
}

.dim{
    font-weight: bold;
}

.val{
    margin-left: 200px;
}

.value{
    margin-bottom: 10px;
}

.price{
    float: right;
    font-weight: bold;
}

.title{
    text-align: center;
}

#bottom-bar{
    position: fixed;
    bottom: 20px;
    z-index: 100;
    bottom: 0px;
    color: white;
    padding: 10px;
    width: 100%;
    background: #333;
    text-align: center;
    margin: 0px;
}

#crop-list{
    padding-bottom: 50px !important;
}